<aside id="project-sidebar">
  <h2>Daftar Topik</h2>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      
      <li>
        <a href="#" class="collapsible">Introduction</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/units.html">Units & Quantity</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Kinematics</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/simulasi-glb.html">Gerak Lurus (GLB)</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</aside>
