<aside id="project-sidebar">
  <h2>Daftar Topik</h2>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/" class="menu-item">Beranda</a></li>
      <li><a href="{{ site.baseurl }}/topics/whiteboard.html" class="menu-item">Papan Tulis</a></li>
      
      <li>
        <a href="#" class="collapsible">Pendahuluan</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/sejarah-perkembangan-ilmu-fisika.html">Sejarah Perkembangan Ilmu Fisika</a></li>
          <li><a href="{{ site.baseurl }}/topics/besaran-dan-satuan.html">Besaran dan Satuan</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Matematika dalam Fisika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/notasi-ilmiah.html">Notasi Ilmiah</a></li>
          <li><a href="{{ site.baseurl }}/topics/trigonometri.html">Trigonometri</a></li>
          <li><a href="{{ site.baseurl }}/topics/matriks.html">Matriks</a></li>
          <li><a href="{{ site.baseurl }}/topics/fungsi.html">Fungsi</a></li>
          <li><a href="{{ site.baseurl }}/topics/vektor.html">Vektor</a></li>
          <li><a href="{{ site.baseurl }}/topics/deret.html">Deret</a></li>
          <li><a href="{{ site.baseurl }}/topics/limit.html">Limit</a></li>
          <li><a href="{{ site.baseurl }}/topics/turunan.html">Turunan</a></li>
          <li><a href="{{ site.baseurl }}/topics/integral.html">Integral</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Kinematika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/posisi.html">Posisi</a></li>
          <li><a href="{{ site.baseurl }}/topics/jarak-dan-perpindahan.html">Jarak dan Perpindahan</a></li>
          <li><a href="{{ site.baseurl }}/topics/kecepatan-dan-kelajuan.html">Kecepatan dan Kelajuan</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-lurus-beraturan.html">Gerak Lurus Beraturan</a></li>
          <li><a href="{{ site.baseurl }}/topics/percepatan.html">Percepatan</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-lurus-berubah-beraturan.html">Gerak Lurus Berubah Beraturan</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-lurus-jatuh.html">Gerak Lurus Jatuh</a></li>
          <li><a href="{{ site.baseurl }}/topics/jerk-snap-crackle-pop.html">Jerk, Snap, Crackle, Pop</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-dua-dimensi.html">Gerak Lurus Dua Dimensi </a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-parabola.html">Gerak Parabola</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-melingkar.html">Gerak Melingkar Beraturan</a></li>
          <li><a href="{{ site.baseurl }}/topics/gerak-melingkar-berubah-beraturan.html">Gerak Melingkar Berubah Beraturan</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Dinamika Partikel</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/hukum-newton.html">Hukum Newton</a></li>
          <li><a href="{{ site.baseurl }}/topics/resultan-gaya.html">Resultan Gaya</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-gerak.html">Gaya dan Gerak</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-normal.html">Gaya Normal</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-tali.html">Gaya Tegang Tali</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-gesek.html">Gaya Gesek</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-pegas.html">Gaya Pegas</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-miring.html">Gaya di Bidang Miring</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-katrol.html">Gaya pada Katrol Licin</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-newton-gravitasi.html">Hukum Newton Gravitasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-gravitasi.html">Medan Gravitasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/potensial-gravitasi.html">Potensial Gravitasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-potensial-gravitasi.html">Energi Potensial Gravitasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/momentum-linear.html">Momentum Linear</a></li>
          <li><a href="{{ site.baseurl }}/topics/kekekalan-momentum-linear.html">Kekekalan Moementum Linear</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-kinetik-linear.html">Energi Kinetik Linear</a></li>
          <li><a href="{{ site.baseurl }}/topics/kekekalan-energi-mekanik-linear.html">Kekekalan Energi Mekanik Linear</a></li>
          <li><a href="{{ site.baseurl }}/topics/usaha-dan-disipasi-energi.html">Usaha dan Disipasi Energi</a></li>
          <li><a href="{{ site.baseurl }}/topics/daya.html">Daya</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Dinamika Benda Tegar</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/benda-tegar.html">Benda Tegar</a></li>
          <li><a href="{{ site.baseurl }}/topics/pusat-massa.html">Pusat Massa</a></li>
          <li><a href="{{ site.baseurl }}/topics/momen-inersia.html">Momen Inersia</a></li>
          <li><a href="{{ site.baseurl }}/topics/torka.html">Torka dan Resultannya</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-newton-tegar.html">Hukum Newton pada Benda Tegar</a></li>
          <li><a href="{{ site.baseurl }}/topics/kesetimbangan.html">Kesetimbangan</a></li>
          <li><a href="{{ site.baseurl }}/topics/momentum-angular.html">Momentum Angular</a></li>
          <li><a href="{{ site.baseurl }}/topics/kekekalan-momentum-angular.html">Kekekalan Moementum Angular</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-kinetik-angular.html">Energi Kinetik Angular</a></li>
          <li><a href="{{ site.baseurl }}/topics/kekekalan-energi-mekanik-angular.html">Kekekalan Energi Mekanik Angular</a></li>
          <li><a href="{{ site.baseurl }}/topics/menggelinding-tergelincir.html">Menggelinding dan Tergelincir</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Dinamika Benda Deformatif</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/modulus-young.html">Modulus Young</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Dinamika Fluida</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/tekanan.html">Tekanan</a></li>
          <li><a href="{{ site.baseurl }}/topics/fluida-statis-ideal.html">Fluida Statis Ideal</a></li>
          <li><a href="{{ site.baseurl }}/topics/tekanan-hidrostatis.html">Tekanan Hidrostatis</a></li>
          <li><a href="{{ site.baseurl }}/topics/prinsip-pascal.html">Prinsip Pascal</a></li>
          <li><a href="{{ site.baseurl }}/topics/prinsip-archimedes.html">Prinsip Archimedes</a></li>
          <li><a href="{{ site.baseurl }}/topics/balon-udara.html">Balon Udara</a></li>
          <li><a href="{{ site.baseurl }}/topics/visikositas.html">Visikositas</a></li>
          <li><a href="{{ site.baseurl }}/topics/tegangan-permukaan.html">Tegangan Permukaan</a></li>
          <li><a href="{{ site.baseurl }}/topics/kapilaritas.html">Kapilaritas</a></li>
          <li><a href="{{ site.baseurl }}/topics/fluida-dinamis-ideal.html">Fluida Dinamis Ideal</a></li>
          <li><a href="{{ site.baseurl }}/topics/debit.html">Debit</a></li>
          <li><a href="{{ site.baseurl }}/topics/asas-kontinuitas.html">Asas Kontinuitas</a></li>
          <li><a href="{{ site.baseurl }}/topics/prinsip-bernoulli.html">Prinsip Bernoulli</a></li>
          <li><a href="{{ site.baseurl }}/topics/venturi.html">Venturi</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-angkat-pesawat.html">Gaya Angkat Pesawat</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Dinamika Harmonis</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/dinamika-melingkar.html">Dinamika Melingkar</a></li>
          <li><a href="{{ site.baseurl }}/topics/dinamika-pendulum.html">Dinamika Pendulum</a></li>
          <li><a href="{{ site.baseurl }}/topics/dinamika-pegas.html">Dinamika Pegas</a></li>
          <li><a href="{{ site.baseurl }}/topics/dinamika-harmonis.html">Dinamika Harmonis</a></li>
          <li><a href="{{ site.baseurl }}/topics/dinamika-harmonis-bejana-U.html">Dinamika Harmonis Bejana U</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Dinamika Gelombang Mekanik</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/gelombang-transversal.html">Gelombang Transversal</a></li>
          <li><a href="{{ site.baseurl }}/topics/gelombang-longitudinal.html">Gelombang Longitudinal</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-mekanik-gelombang.html">Energi Mekanik Gelombang</a></li>
          <li><a href="{{ site.baseurl }}/topics/superposisi-gelombang.html">Superposisi Gelombang</a></li>
          <li><a href="{{ site.baseurl }}/topics/superposisi-gelombang-ujung-terikat.html">Superposisi Gelombang Ujung Terikat</a></li>
          <li><a href="{{ site.baseurl }}/topics/superposisi-gelombang-ujung-bebas.html">Superposisi Gelombang Ujung Bebas</a></li>
          <li><a href="{{ site.baseurl }}/topics/interferensi-gelombang-mekanik.html">Interferensi Gelombang Mekanik</a></li>
          <li><a href="{{ site.baseurl }}/topics/difraksi-gelombang-mekanik.html">Difraksi Gelombang Mekanik</a></li>
          <li><a href="{{ site.baseurl }}/topics/gelombang-suara.html">Gelombang Suara</a></li>
          <li><a href="{{ site.baseurl }}/topics/intensitas-suara.html">Intensitas Suara</a></li>
          <li><a href="{{ site.baseurl }}/topics/efek-doppler.html">Efek Doppler</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Optika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/sinar.html">Sinar</a></li>
          <li><a href="{{ site.baseurl }}/topics/pemantulan.html">Pemantulan</a></li>
          <li><a href="{{ site.baseurl }}/topics/cermin.html">Cermin</a></li>
          <li><a href="{{ site.baseurl }}/topics/pembiasan.html">Pembiasan</a></li>
          <li><a href="{{ site.baseurl }}/topics/lensa.html">Lensa</a></li>
          <li><a href="{{ site.baseurl }}/topics/kacamata.html">Kacamata</a></li>
          <li><a href="{{ site.baseurl }}/topics/teropong.html">Teropong</a></li>
          <li><a href="{{ site.baseurl }}/topics/mikroskop.html">Mikroskop</a></li>
          <li><a href="{{ site.baseurl }}/topics/periskop.html">Periskop</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Kelistrikan</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/muatan-listrik.html">Muatan Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/prinsip-coloumb.html">Prinsip Coloumb</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-listrik.html">Medan Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/potensial-listrik.html">Potensial Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/beda-potensial-listrik.html">Beda Potensial Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-potensial-listrik.html">Energi Potensial Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/arus-listrik.html">Arus Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/insulator-konduktor.html">Insulator dan Konduktor</a></li>
          <li><a href="{{ site.baseurl }}/topics/resistansi.html">Resistansi</a></li>
          <li><a href="{{ site.baseurl }}/topics/resistor.html">Resistor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-resistor.html">Rangkaian Resistor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-resistif.html">Rangkaian Resistif</a></li>
          <li><a href="{{ site.baseurl }}/topics/aturan-kirchoff.html">Aturan Kirchoff</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-pada-rangkaian-resistif.html">Energi pada Rangkaian Resistif</a></li>
          <li><a href="{{ site.baseurl }}/topics/dielektrik.html">Dielektrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/kapansitansi.html">Kapasitansi</a></li>
          <li><a href="{{ site.baseurl }}/topics/kapasitor.html">Kapasitor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-kapasitor.html">Rangkaian Kapasitor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-kapasitif.html">Rangkaian Kapasitif</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-pada-rangkaian-kapasitif.html">Energi pada Rangkaian Kapasitif</a></li>
          <li><a href="{{ site.baseurl }}/topics/dioda.html">Dioda</a></li>
          <li><a href="{{ site.baseurl }}/topics/transistor.html">Transistor</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Elektromagnetik</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/dipol-magnetik.html">Dipol Magnetik</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-magnet.html">Medan Magnet</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-magnet-kawat-lurus.html">Medan Magnet Kawat Lurus</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-magnet-kawat-melingkar.html">Medan Magnet Kawat Melingkar</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-magnet-solenoida.html">Medan Magnet Solenoida</a></li>
          <li><a href="{{ site.baseurl }}/topics/medan-magnet-toroida.html">Medan Magnet Toroida</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-magnet.html">Gaya Magnet</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-magnet-pada-kawat-lurus.html">Gaya Magnet pada Kawat Lurus</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-magnet-pada-dua-kawat-lurus.html">Gaya Magnet pada Dua Kawat Lurus</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-magnet-pada-muatan.html">Gaya Magnet pada Muatan</a></li>
          <li><a href="{{ site.baseurl }}/topics/siklotron.html">Siklotron</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-faraday.html">Hukum Faraday</a></li>
          <li><a href="{{ site.baseurl }}/topics/induksi-elektromagnet.html">Induksi Elektromagnet</a></li>
          <li><a href="{{ site.baseurl }}/topics/induksi-elektromagnet-pada-kawat-yang bergerak.html">Induksi Elektromagnet pada Kawat yang Bergerak</a></li>
          <li><a href="{{ site.baseurl }}/topics/generator-listrik.html">Generator Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/motor-listrik.html">Motor Listrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/transformator.html">Transformator</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-lenz.html">Hukum Lenz</a></li>
          <li><a href="{{ site.baseurl }}/topics/arus-eddy.html">Arus Eddy</a></li>
          <li><a href="{{ site.baseurl }}/topics/pengereman-kereta-cepat.html">Pengereman Kereta Cepat</a></li>
          <li><a href="{{ site.baseurl }}/topics/induktansi.html">Induktansi</a></li>
          <li><a href="{{ site.baseurl }}/topics/induktor.html">Induktor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-induktor.html">Rangkaian Induktor</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-induktif.html">Rangkaian Induktif</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-pada-rangkaian-induktif.html">Energi pada Rangkaian Induktif</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-RLC.html">Rangkaian RLC</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-RC.html">Rangkaian RC</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-RL.html">Rangkaian RL</a></li>
          <li><a href="{{ site.baseurl }}/topics/rangkaian-LC.html">Rangkaian LC</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Gelombang Elektromagnetik</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/gelombang-elektromagnetik.html">Gelombang Elektromagentik</a></li>
          <li><a href="{{ site.baseurl }}/topics/persamaan-maxwell.html">Persamaan Maxwell</a></li>
          <li><a href="{{ site.baseurl }}/topics/interferensi-cahaya.html">Interferensi Cahaya</a></li>
          <li><a href="{{ site.baseurl }}/topics/difraksi-cahaya.html">Difraksi Cahaya</a></li>
          <li><a href="{{ site.baseurl }}/topics/dispersi-cahaya-putih.html">Dispersi Cahaya Putih</a></li>
          <li><a href="{{ site.baseurl }}/topics/polarisasi-cahaya.html">Polarisasi Cahaya</a></li>
          <li><a href="{{ site.baseurl }}/topics/absorbsi-transmisi-refleksi.html">Adbsorbsi, Transmisi, dan Refleksi</a></li>
          <li><a href="{{ site.baseurl }}/topics/antenna.html">Antenna</a></li>
          <li><a href="{{ site.baseurl }}/topics/analog-digital.html">Analog-Digital</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Termodinamika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/suhu.html">Suhu</a></li>
          <li><a href="{{ site.baseurl }}/topics/energi-dan-kalor.html">Energi dan Kalor</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-0-termodinamika.html">Hukum 0 Termodinamika</a></li>
          <li><a href="{{ site.baseurl }}/topics/fase-air.html">Asas Black dan Fase Air</a></li>
          <li><a href="{{ site.baseurl }}/topics/laju-kalor.html">Laju Kalor</a></li>
          <li><a href="{{ site.baseurl }}/topics/konduksi-konveksi-radiasi.html">Konduksi-Konveksi-Radiasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/pemuaian.html">Pemuaian</a></li>
          <li><a href="{{ site.baseurl }}/topics/teori-kinetik-gas.html">Teori Kinetik Gas secara Makroskopik dan Mikroskopik</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-1-termodinamika.html">Hukum 1 Termodinamika</a></li>
          <li><a href="{{ site.baseurl }}/topics/isobarik.html">Isobarik</a></li>
          <li><a href="{{ site.baseurl }}/topics/isokhorik.html">Isokhorik</a></li>
          <li><a href="{{ site.baseurl }}/topics/isotermik.html">Isotermik</a></li>
          <li><a href="{{ site.baseurl }}/topics/adiabatik.html">Adiabatik</a></li>
          <li><a href="{{ site.baseurl }}/topics/mesin-termodinamika-dan-efisiensi.html">Mesin Termodinamika dan Efisiensi</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-2-termodinamika.html">Hukum 2 Termodinamika</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-3-termodinamika.html">Hukum 3 Termodinamika</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible">Fisika Modern</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/radiasi-benda-hitam.html">Radiasi Benda Hitam</a></li>
          <li><a href="{{ site.baseurl }}/topics/pergeseran-wien-dan-stefan.html">Pergeseran Wien dan Hukum Stefan</a></li>
          <li><a href="{{ site.baseurl }}/topics/quanta.html">Bencana UV dan Quanta Planck</a></li>
          <li><a href="{{ site.baseurl }}/topics/efek-fotolistrik.html">Efek Fotolistrik</a></li>
          <li><a href="{{ site.baseurl }}/topics/hamburan.html">Efek Hamburan (Scattering Effect)</a></li>
          <li><a href="{{ site.baseurl }}/topics/model-atom-hidrogen-bohr.html">Model Atom Hidrogen Bohr</a></li>
          <li><a href="{{ site.baseurl }}/topics/debroglie.html">Gelombang Materi deBroglie</a></li>
          <li><a href="{{ site.baseurl }}/topics/dualisme-partikel-gelombang.html">Dualisme Partikel Gelombang/a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Fisika Partikel dan Nuklir</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/atom.html">Atom</a></li>
          <li><a href="{{ site.baseurl }}/topics/atom-dalton.html">Model Atom Dalton</a></li>
          <li><a href="{{ site.baseurl }}/topics/atom-thompson.html">Model Atom Thompson</a></li>
          <li><a href="{{ site.baseurl }}/topics/atom-rutherford.html">Model Atom Rutherford</a></li>
          <li><a href="{{ site.baseurl }}/topics/atom-bohr.html">Model Atom Bohr</a></li>
          <li><a href="{{ site.baseurl }}/topics/model-standar.html">Model Standar Atom</a></li>
          <li><a href="{{ site.baseurl }}/topics/ukuran-atom.html">Ukuran Atom</a></li>
          <li><a href="{{ site.baseurl }}/topics/defek-massa-dan-energi-ikat.html">Defek Massa, Energi Ikat dan Stabilitas</a></li>
          <li><a href="{{ site.baseurl }}/topics/radioaktivitas.html">Radioaktivitas</a></li>
          <li><a href="{{ site.baseurl }}/topics/fisi-nuklir.html">Fisi Nuklir</a></li>
          <li><a href="{{ site.baseurl }}/topics/fusi-nuklir.html">Fusi Nuklir/a></li>
          <li><a href="{{ site.baseurl }}/topics/partikel-alfa-beta-gamma.html">Partikel Alfa, Beta dan Gamma</a></li>
          <li><a href="{{ site.baseurl }}/topics/dosis-radiasi.html">Dosis Radiasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/koefisien-atenuasi-massa.html">Koefisien Attenuasi Massa</a></li>
          <li><a href="{{ site.baseurl }}/topics/daya-henti.html">Daya Henti/a></li>
          <li><a href="{{ site.baseurl }}/topics/jarak-penetrasi.html">Jarak Penetrasi</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible text-red">Relativitas</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/relativitas-khusus.html">Relativitas Khusus</a></li>
          li><a href="{{ site.baseurl }}/topics/relativitas-umum.html">Relativitas Umum</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Fisika Nuklir</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>
      
      <li>
        <a href="#" class="collapsible text-red">Fisika Material</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Geofisika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Biofisika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Instrumentasi</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Komputasi</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Astronomi</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible text-red">Mekanika Kuantum</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
        </ul>
      </li>
      
    </ul>
  </nav>
</aside>
