<aside id="project-sidebar">
  <h2>Daftar Topik</h2>
  <nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Beranda</a></li>
      
      <li>
        <a href="#" class="collapsible">Pendahuluan</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/.html">Sejarah Fisika</a></li>
          <li><a href="{{ site.baseurl }}/topics/units.html">Besaran dan Satuan</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Kinematika</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/simulasi-glb.html">Gerak Lurus Beraturan (GLB)</a></li>
          <li><a href="{{ site.baseurl }}/topics/simulasi-glbb.html">Gerak Lurus Berubah Beraturan (GLBB)</a></li>
          <li><a href="{{ site.baseurl }}/topics/simulasi-gjb.html">Gerak Lurus Jatuh (GLJ)</a></li>
          <li><a href="{{ site.baseurl }}/topics/simulasi-g2d.html">Gerak Lurus 2 Dimensi </a></li>
          <li><a href="{{ site.baseurl }}/topics/simulasi-gpar.html">Gerak Parabola</a></li>
          <li><a href="{{ site.baseurl }}/topics/simulasi-gmel.html">Gerak Melingkar Beraturan</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Dinamika Partikel</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/hukum-newton.html">Hukum Newton</a></li>
          <li><a href="{{ site.baseurl }}/topics/resultan-gaya.html">Resultan Gaya</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-gerak.html">Gaya dan Gerak</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-normal.html">Gaya Normal</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-tali.html">Gaya Tegang Tali</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-gesek.html">Gaya Gesek</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-pegas.html">Gaya Pegas</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-miring.html">Gaya di Bidang Miring</a></li>
          <li><a href="{{ site.baseurl }}/topics/gaya-katrol.html">Gaya pada Katrol Licin</a></li>
          <li><a href="{{ site.baseurl }}/topics/momentum-linear.html">Momentum Linear</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="collapsible">Dinamika Benda Tegar</a>
        <ul class="sub-menu">
          <li><a href="{{ site.baseurl }}/topics/deformasi.html">Deformasi</a></li>
          <li><a href="{{ site.baseurl }}/topics/benda-tegarhtml">Benda Tegar</a></li>
          <li><a href="{{ site.baseurl }}/topics/pusat-massa.html">Pusat Massa</a></li>
          <li><a href="{{ site.baseurl }}/topics/momen-inersia.html">Momen Inersia</a></li>
          <li><a href="{{ site.baseurl }}/topics/torka.html">Torka dan Resultannya</a></li>
          <li><a href="{{ site.baseurl }}/topics/hukum-newton-tegar.html">Hukum Newton pada Benda Tegar</a></li>
          <li><a href="{{ site.baseurl }}/topics/kesetimbangan.html">Kesetimbangan</a></li>
          <li><a href="{{ site.baseurl }}/topics/momentum-angular.html">Momentum Angular</a></li>
          <li><a href="{{ site.baseurl }}/topics/kekekalan-momentum-angular.html">Kekekalan Moementum Angular</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
