<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
  
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

  <div class="header-mobile">
    <a href="{{ site.baseurl }}/">HOME</a>
  </div>

  <div id="wrapper">
    {% include sidebar.html %}

    <main id="project-content">
      {{ content }}
    </main>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const coll = document.querySelectorAll('.collapsible');
      coll.forEach(link => {
        link.addEventListener('click', (e) => {
          e.preventDefault();
          const subMenu = link.nextElementSibling;
          if (subMenu) {
             subMenu.classList.toggle('open');
             link.classList.toggle('active');
          }
        });
      });
    });
  </script>
</body>
</html>
